body {
  background-color: #292929;
}
/**/
input {
  width: 80%;
  padding: 12px 20px;
  margin: auto;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: #41414d;
  font-size: 100%;
  color: #ffffff;
  
}
form {
  padding: auto;
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


.menu {
  margin: auto;
  width: 100%;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  font-size: 30px;
  text-decoration:none;
  
}
.menu li img {
  width: auto;
  height: 60px;
  color: white;
  
}
.menu li {
  float: left;
  transition: background-color .5s;
}

.menu li:hover {
  background-color: gray;
}




h1 {
  color: #ffffff;
  padding: auto;
  margin-top: 20px;
  text-align: center;
}





.imageul {
  padding: 0 6px;
  float: left;
  width: 16%;
}

.imageli {
  border: 1px solid #ccc;
  transition: background-color .2s;
  background-color:#41414d;
  text-decoration: none;
  
}
.imageli a {
  text-decoration: none;
}
.imageli:hover {
  background-color: #35353d;
}

.imageli img {
  width: 100%;
  height: auto;
}

.desc {
  margin: 10px;
  text-align: center;
  text-decoration:none;
  font-size: 1rem;
  color: #ffffff;
}

.price {
  color: #db3b3b;
  font-size: 30px;
  text-align: center;
  text-decoration:none;
  
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




footer {
  background-color: #41414d;
  color: #ffffff;
  text-align:center;
  font-size: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  margin: 0px;
}


@media only screen and (max-width: 900px) {
  .imageul {
    width: 25%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 600px) {
  .imageul {
    width: 25%;
    
  }
  .price {
    font-size: 20px;
  }
  .desc {
    font-size: 10px;
  }

}